/* ==========================================================================
   Base styles
   ========================================================================== */

$g-line-height: 1.625 !default;
$g-baseline: $g-line-height * 1rem !default;


/* Opinionated defaults
   ========================================================================== */

blockquote {
  margin-left: 0;
  margin-right: 0;
  border-left: ($g-baseline/6) solid;
  padding-left: $g-baseline - ($g-baseline/6);
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figcaption { margin-top: $g-baseline/5; }

hr {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

ul, ol {
  padding-left: $g-baseline;
}

dd {
  margin-left: 0;
  margin-right: 0;
  padding-left: $g-baseline;
  margin-bottom: $g-baseline;
}

dt { font-weight: bold; }


/* Vertical rhythm
   ========================================================================== */

html { line-height: $g-line-height; }

%block-element {

  /**
   * Margins in single direction
   * http://csswizardry.com/2012/06/single-direction-margin-declarations/
   */

  margin-top: 0;
  margin-bottom: $g-baseline;
}

blockquote,
ul, ol, dl,
p, figure,
pre, table, fieldset, hr {
  @extend %block-element;
}


/* Headings
   ========================================================================== */

%heading { line-height: $g-line-height*.85; }

h1, h2, h3, h4, h5, h6 { @extend %heading; }

h1 {
  font-size: 2.225rem;
  margin-top: $g-baseline*2.5;
  margin-bottom: $g-baseline*1;
}

h2 {
  font-size: 1.618rem;
  margin-top: $g-baseline*2;
  margin-bottom: $g-baseline*.75;
}

h3 {
  font-size: 1.382rem;
  margin-top: $g-baseline*1.5;
  margin-bottom: $g-baseline*.5;
}

h4 {
  font-size: 1.146rem;
  margin-top: $g-baseline*1.25;
  margin-bottom: $g-baseline*.25;
}

h5 {
  font-size: 1rem;
  margin-top: $g-baseline*1;
  margin-bottom: $g-baseline*.1;
}

h6 {
  font-size: .618rem;
  margin-top: $g-baseline*.75;
  margin-bottom: $g-baseline*0;
}
