/* ==========================================================================
   Media queries
   ========================================================================== */

/**
 * Breakpoints
 *
 *   xxs : Watches, wearables
 *    xs : Phones
 *    md : Tablets
 *    lg : Laptops, notebooks
 *    xl : Desktops (HD)
 *   xxl : Desktops (4K)
 *
 */

$screen: "only screen" !default;

$breakpoint-xs:   320px !default;
$breakpoint-sm:   768px !default;
$breakpoint-md:   992px !default;
$breakpoint-lg:  1200px !default;
$breakpoint-xl:  1920px !default;
$breakpoint-xxl: 4096px !default;

$query-xxs: "(max-width: #{$breakpoint-xs - 1})" !default;
$query-xs:  "(min-width: #{$breakpoint-xs})"     !default;
$query-sm:  "(min-width: #{$breakpoint-sm})"     !default;
$query-md:  "(min-width: #{$breakpoint-md})"     !default;
$query-lg:  "(min-width: #{$breakpoint-lg})"     !default;
$query-xl:  "(min-width: #{$breakpoint-xl})"     !default;
$query-xxl: "(min-width: #{$breakpoint-xxl})"    !default;
$query-xs-only: "#{$query-xs} and (max-width: #{$breakpoint-sm  - 1})" !default;
$query-sm-only: "#{$query-sm} and (max-width: #{$breakpoint-md  - 1})" !default;
$query-md-only: "#{$query-md} and (max-width: #{$breakpoint-lg  - 1})" !default;
$query-lg-only: "#{$query-lg} and (max-width: #{$breakpoint-xl  - 1})" !default;
$query-xl-only: "#{$query-xl} and (max-width: #{$breakpoint-xxl - 1})" !default;

$xxs: "#{$screen} and #{$query-xxs}" !default;
$xs:  "#{$screen} and #{$query-xs}"  !default;
$sm:  "#{$screen} and #{$query-sm}"  !default;
$md:  "#{$screen} and #{$query-md}"  !default;
$lg:  "#{$screen} and #{$query-lg}"  !default;
$xl:  "#{$screen} and #{$query-xl}"  !default;
$xxl: "#{$screen} and #{$query-xxl}" !default;
$xs-only: "#{$screen} and #{$query-xs-only}" !default;
$sm-only: "#{$screen} and #{$query-sm-only}" !default;
$md-only: "#{$screen} and #{$query-md-only}" !default;
$lg-only: "#{$screen} and #{$query-lg-only}" !default;
$xl-only: "#{$screen} and #{$query-xl-only}" !default;

/**
 * Usage:
 *
 *  @media #{$sm} {
 *    ...
 *  }
 *
 *  @media #{$lg-only} and (orientation: landscape) {
 *    ...
 *  }
 *
 *  @media #{$xs-only}, #{$sm-only} {
 *    ...
 *  }
 *
 */
